* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron {
    background-color: #D96606;
    color: #ffffff;
    padding: 10px;
}

.jumbotron h1 {
    font-size: 200%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.team {
    max-width: 1000px;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
}

.employee-card {
    margin: 1em;
    max-width: 280px;
    width: 90%;
    /* min-height: 22rem; */
    background-color: #007bff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
    border: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6F7F8;
}

.card-header {
    text-align: center;
}

.list-group-item {
    color: #000000;
    text-decoration: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}